.authentication-section{
    background-image: url(./../../Assets/Images/banner/bg-slide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.authentication-section::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.authentication-box-wrap{
    background-color: var(--white-color);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 40px 0 40px 0;
}
.highlight-txt{
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s;
}
.highlight-txt:hover{
    text-decoration: underline;
}
.authentication-title{
    width: max-content;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.authentication-title::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: -15px;
    display: block;
    width: 50%;
    height: 100%;
    z-index: -1;
    border-radius: 8px 0 8px 0;
}
.form-scroll {
    height: calc(100vh - 400px);
    overflow-y: auto;
    padding-right: 10px;
}
.authentication-box-wrap .register-form .form-group{
    margin-bottom: 20px;
}