.product-slider {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.product-slider .carousel-control-next, .product-slider .carousel-control-prev {
    width: 40px;
    height: 40px;
}
.product-slider .carousel-control-prev {
    left: 10px;
}
.product-slider .carousel-control-next {
    right: 10px;
}
.product-slider .carousel-indicators{
    display: none;
}