@media screen and (min-width: 1280px) {
    .container {
      max-width: 1270px;
    }
  }
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1300px;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      max-width: 1420px;
    }
  }
  
  @media screen and (min-width: 1700px) {
    .container {
      max-width: 1620px;
    }
  } 
@media (max-width: 1799px){
  .head-title{
    font-size: 20px;
  }
}
@media (max-width: 1199px){
  .form-group {
    margin-bottom: 20px;
}
label {
  font-size: 16px;
}
}
@media (max-width: 767px){
  .page-head{
    font-size: 30px;
  }
}
@media (max-width: 575px){
  .head-title {
    font-size: 18px;
    width: auto;
 }
 .authentication-box-wrap form {
  margin-top: 30px;
}
.authentication-box-wrap{
  padding: 30px 20px;
}
.faq-section h5{
  font-size: 18px;
}
.inner-page-big-title{
  font-size: 22px;
}
.page-head{
  font-size: 24px;
}
.custom-btn{
  padding: 10px 14px;
}
}


