.checkout-card-details-wrap{
    border: 1px solid #ccc;
    padding: 30px;
}
/* responsive css */
@media (max-width: 1799px){
    .checkout-section .form-group {
        margin-bottom: 20px;
    }
    .checkout-section label {
        font-size: 16px;
    }
}