.order-recieve-box{
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 25px 25px 15px;
    width: 550px;
}
.order-recieve-box p{
    font-weight: 700;
    color: #155724;
    font-size: 18px;
}
.order-recieve-wrap{
    grid-gap: 20px;
}
.order-recieve-details{
    width: calc(100% - 550px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.order-recieve-table thead{
    background-color: #ccc;
}
.order-recieve-table thead tr th,
.order-recieve-table tbody tr td{
    padding: 10px;
    width: 50%;
}
.order-recieve-table tbody tr:nth-child(odd){
    background-color: #eee;
}
/* responsive css */
@media (max-width:1799px){
    .order-recieve-details {
        grid-gap: 20px 10px;
    }
}
@media (max-width:1599px){
    .order-recieve-details{
        grid-template-columns: repeat(2, 1fr);
    }
}