.product-detail-content{
    width: 100%;
}
.product-detail-content li{
    display: flex;
    margin-bottom: 10px;
    gap: 0 10px;
}
.product-detail-content b{
    padding: 10px;
    width: 50%;
    background-color: #eee;
}
.product-detail-content span{
    padding: 10px;
    width: 50%;
    display: flex;
    background-color: #e1e1e1;
}
.product-detail-tbl-highlight{
    background-color: #ccc;
    padding: 8px;
}
 .product-detail-tbl{
    width: 100%;
}
.product-detail-tbl thead tr th,
.product-detail-tbl tbody tr td{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
}
.product-detail-tbl thead{
    background-color: #eee;
}
.product-detail-tbl tbody td a{
    color: var(--primary-color);
}
.product-detail-tbl tbody td a:hover{
    color: var(--black-color);
}
.product-review-form{
    max-width: 700px;
}
/* responsive css */
@media (max-width: 1279px){
    .product-wrap p{
      font-size: 14px;
    }
}